body{
    background: #0c2a3e;
    /* #09283c */
    padding-bottom: 150px;
}
.navbar{
    border-radius: 15px;    
    padding: 1px;
    background: #dfb462;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navItem{
    color: black;
    padding: 1rem;
    text-decoration: none;
}
.navUser{
    color: black;
    padding: 1rem;
    display: inline-block;
    margin-left: auto;
}
.navlogo{
    max-width: 4%;
    height: auto;
    text-align: right;
    border-radius: 5px;
}
.navItem:hover{
    color: aqua;
}
.menubar{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.header{
    text-align: center;
    height: 10rem;
    background-image: url(wp6705749-moutains-ultra-hd-wallpapers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.tr{
    color: whitesmoke;
}
.th, .td {
    color: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 5px;
    text-align: center;
}
.td:hover{
    color:gold;
}
.span{
    text-align: center;
}
.img{
    /* display: flex; */
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.art{
    color: whitesmoke;
    display: block;
    width: 20rem;
    margin: 0 auto 0.5rem auto;
    text-align: center;
}
.artcenter{
    color: whitesmoke;
    display:block;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    text-align: center;
}
.artlist{
    color: whitesmoke;
    width: 100%;
    text-align: center;
}
.artrow{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
}
.artleft{
    color: whitesmoke;
    display: block;
    width: 20rem;
    margin-bottom: 0.5rem;
    text-align: left;
    flex: 1;
}
.artright{
    color: whitesmoke;
    display: block;
    width: 20rem;
    margin-bottom: 0.5rem;
    text-align: right;
    flex: 1;
}
.art.table{
    border: 2px solid #dfb462;
    /* border-collapse: collapse; */
    padding: 5px;
    text-align: center;
    width: auto;
    margin: 0 auto 0.5rem auto;
    display: table;
}
.tdteam{
    color: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 5px;
    text-align: center;
    color:#dfb462;
}
.tdteam:hover{
    color:gold;
}
/* #77202d */
.div{
    text-align: center;
}
.div.article{
    position: absolute;
    color: whitesmoke;
    text-align: left;
}
.logo{
    max-width: 20%;
    height: auto;
    /* align-self: center; */
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    text-align: center;
    background: #dfb462;
    align-self: auto;
    padding: 0.5rem;
    /* text-decoration: none;
    color: black; */
}
.footeritem{
    text-decoration: none;
    color: black;
    padding: 0.3rem;
    display: inline-block;
    margin: 0.2rem 0.5rem;
}
.span{
    text-align: center;
    color: whitesmoke;
}
.form{
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    color: whitesmoke;
}
.form > *{
    margin: 0.5rem 0;
}
.signout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
}
.signout-container h2 {
    font-size: 24px;
    color: whitesmoke;
}
.signout-buttons {
    display: flex;
    gap: 15px;
}
.signout-btn, .cancel-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.signout-btn {
    background-color: #d32f2f;
    color: white;
}
.signout-btn:hover {
    background-color: #b71c1c;
}
.cancel-btn {
    background-color: #666;
    color: white;
}
.cancel-btn:hover {
    background-color: #444;
}
#signout-link {
    margin-left: 10px;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    list-style-position: inside;
}
ul.menubar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    padding: 5px;
}
li {
    color: whitesmoke;
    margin: 0.5rem 0;
}
.h3{
    color: whitesmoke;
    text-decoration: none;
}